@model int

<div class="jumbotron">

    <h1>Error @Model</h1>

    <h3>Something unexpected has happened. Please contact the administrator</h3>
    <h3>Please use the home or login links to return to the site</h3>

</div>
