<h1 id="tableLabel">Account list</h1>

<p *ngIf="!accounts"><em>Loading...</em></p>

<table class='table' aria-labelledby="tableLabel" *ngIf="accounts" ng-app>
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Type</th>
      <th>Balance</th>
      <th>Last Modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td><input  type="radio" id="selectedAccount" name="selectedAccount" (change)="onSelectionChange(account.accountNumber)" ng-value="account" style="margin-right:10px"/>{{ account.accountNumber }}</td>
      <td>{{ account.accountType === 'S' ? 'Savings':'Checkings'}}</td>
      <td>{{ account.balance }}</td>
      <td>{{ account.modifyDate }}</td>
    </tr>
  </tbody>
</table>

<div class="text-center" style="margin-top:30px">
    <button class="btn btn-secondary" style="margin-right:30px" [routerLink]="['/customer-list']"> < Back to Customer List</button>
    <button class="btn btn-primary" [disabled]="!selectedEntry" style="margin-right:30px" [routerLink]="['/transaction-list', selectedCustomerId, selectedEntry]">View Transactions</button>
    <button class="btn btn-primary" [disabled]="!selectedEntry" style="margin-right:30px" [routerLink]="['/bill-list', selectedCustomerId, selectedEntry]">View Bills</button>
    <button class="btn btn-primary" style="margin-right:30px" (click)="showGraph=!showGraph;setBarChart()">{{!showGraph ? 'Show Graphical Data' : 'Hide Graphical Data'}}</button>
</div>
<div class="text-center" style="margin-top:30px;margin-left:300px">
<canvas id="barChart" class="text-center" width="500" height="500"></canvas>
</div>
