<div style="display: inline-flex;">
  <div class="text-center" style="margin-right:100px">
    <canvas id="barChart" class="text-center" width="500" height="500"></canvas>
  </div>
  <div class="text-center" style="margin-top: 20px;">
    <canvas id="pieChart" class="text-center" width="500" height="500"></canvas>
  </div>
</div>
<div class="text-center" style="margin-top:30px">
    <button class="btn btn-secondary"  [routerLink]="['/transaction-list', selectedCustomerId, selectedAccountId]">< Back to customer transactions.</button>
</div>

